<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">

  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">

    <div class="col-38">

      <div class="section-heading">
        <h1>{{home.heading}}</h1>
        <h2>{{home.headingtext}}</h2>
        <p class="section-subtitle">{{home.description}}</p>
      </div>

      <!--Call to Action-->
      <!-- <a href="{{home.buttonlink}}}" class="button">{{home.buttontext}}</a> -->
      <!--End Call to Action-->
      <div class="col-2-3">

      </div>
      <div class="col-2-3">

      </div>
      <div class="col-2-3">

      </div>

    </div>

  </div>
</header>
<!--End of Row-->